.empty-message {
  padding: 8px;
}

.time-container {
  height: 300px;
  overflow: scroll;
  padding: 0 20px;

  .input-row {
    display: flex;
    margin-bottom: 4px;

    >span {
      align-self: flex-end;

      .action-button {
        padding: 4px 8px;
        font-size: 16px;
        background-color: #fff;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}

.action-row {
  margin: 16px 0;

  .button {
    padding: 10px 22px;
    border-radius: 4px;
    border: 2px solid transparent;
    font-size: 16px;
    font-weight: 600;
    background-color: #4267b2;
    color: #fff;
    cursor: pointer;
  }
}
